{erl_opts, [debug_info, {i, "include"}]}.
{plugins, [rebar3_hex]}.
{deps, [
  {hackney, "1.17.4"}, {docker_compose_cth, "0.1.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [gmm_client]}
]}.

{relx, [
    {release, {prod, "0.0.1"}, [
        sasl,
        gmm_client,
        hackney
    ]}
]}.

{profiles, [{prod, [{relx, [
			    {dev_mode, false},
			    {include_erts, true},
			    {include_src, false},
			    {debug_info, strip}]}]
	    }]}.